/NetbeansProjects/HumanInterface/nbproject/private/
/NetbeansProjects/HumanInterface/build/
/NetbeansProjects/Generics/nbproject/private/
/NetbeansProjects/Generics/build/
/NetbeansProjects/FunnyStuff/nbproject/private/
/NetbeansProjects/FunnyStuff/build/
/NetbeansProjects/AbstractWebserver/nbproject/private/
/NetbeansProjects/GraphAlgorithms/nbproject/private/
/NetbeansProjects/AStar/nbproject/private/
/NetbeansProjects/AStar/build/
/NetbeansProjects/TypeHierarchy/nbproject/private/
/NetbeansProjects/TypeHierarchy/build/
/NetbeansProjects/PolygonGrid/nbproject/private/
/NetbeansProjects/DecoratorPattern/nbproject/private/
/NetbeansProjects/DecoratorPattern/build/
/NetbeansProjects/DesignPatterns/nbproject/private/
/NetbeansProjects/DesignPatterns/build/
/NetbeansProjects/Persistence/nbproject/private/