/NetbeansProjects/HumanInterface/nbproject/private/
/NetbeansProjects/HumanInterface/build/
/NetbeansProjects/Generics/nbproject/private/
/NetbeansProjects/Generics/build/
/NetbeansProjects/FunnyStuff/nbproject/private/
/NetbeansProjects/FunnyStuff/build/
/NetbeansProjects/AbstractWebserver/nbproject/private/
/NetbeansProjects/GraphAlgorithms/nbproject/private/
/NetbeansProjects/AStar/nbproject/private/
/NetbeansProjects/AStar/build/